<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("Patials/navBar", {links:links}) %>
    <h2>Input to add a new book</h2>
    <form action="/books/new" method="POST">
        <div>
            <label for="title">Book Title *</label>
            <input type="text" id="title" name="title" required>
        </div>
        <div>
            <label for="author">Author *</label>
            <input type="text" id="author" name="author" required>
        </div>
        <div>
            <label for="genre">Genre *</label>
            <input type="text" id="genre" name="genre" required>
        </div>
        <div>
            <label for="rating">Rating *</label>
            <input type="number" id="rating" name="rating" required>
        </div>
        <div>
            <label for="image">Book Cover</label>
            <input type="text" id="image" name="image_url" required placeholder="Enter an image URL">
        </div>
        <div>
            <label for="year">Publish Time</label>
            <input type="text" id="year" name="published_year" placeholder="Which year was it published?">
        </div>  
        <button type="submit">Create</button>      
    </form>
</body>
</html>